<html>
<head>
    <title>News Wall app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <header class="page-header">
        <h1>Header & navigation</h1>
        <hr>
    </header>
